<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Aktualne pomiary</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable fade show d-flex flex-row justify-content-center" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="mt-2">
        <a type="button" class="btn btn-primary" href="{% url 'statistics' %}">Statistics</a>
    </div>

    <div class="mt-2">
        <table class="table">
            <tr>
                <th scope="col">lp</th>
                <th class="col">Tor</th>
                <th class="col">Zawodnik</th>
                <th class="col">Czas Startu</th>
                <th class="col">Czas Zatrzymania</th>
                <th class="col">Pomiar</th>
                <th class="col">Czas uzyskany</th>
            </tr>
             {% for track in tracks %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ track.track }}</td>
                    <td>{{ track.swimmer }}</td>
                    <td><span class="times" id="{{ track.track }}">{{ track.start_time|date:"d-m-Y H:i:s" }}</span></td>
                    <td>{{ track.stop_time }}</td>
                    <td>
                        <div id="time-{{ track.track }}">
                            <span class="digit" id="hr-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="min-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="sec-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="count-{{ track.track }}">
                                00</span>
                            </div>
                    </td>
                    <td>{{ track.time }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="mt-3">
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
        </form>
    </div>

</div>

<script src={% static 'timer.js' %}></script>
</body>
</html>
