<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Statystyki</h1>
    <div class="mt-2 mb-2 d-flex flex-row">
        <a type="button" class="btn btn-primary" href="{% url 'home' %}">Home</a>
        <div class="d-flex flex-row align-items-center mx-3">
            <form method="get">
                {{ tor_filter.form }}
                <button class="btn btn-outline-primary btn-sm" type="submit">Filtruj</button>
            </form>
        </div>

    </div>
    <div>

        <table class="table">
            <tr>
              <th scope="col">lp</th>
                <th class="col">Tor</th>
                <th class="col">Zawodnik</th>
                <th class="col">Czas Startu</th>
                <th class="col">Czas Zatrzymania</th>
                <th class="col">Pomiar</th>
                <th class="col">Czas uzyskany</th>
            </tr>
            {% for track in tracks_in_progress %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{ track.track }}</td>
                    <td>{{ track.swimmer }}</td>
                    <td><span class="times" id="{{ track.track }}">{{ track.start_time|date:"d-m-Y H:i:s" }}</span></td>
                    <td>{{ track.stop_time }}</td>
                    <td>
                        <div id="time-{{ track.track }}">
                            <span class="digit" id="hr-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="min-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="sec-{{ track.track }}">
                                00</span>
                            <span class="txt">:</span>
                            <span class="digit" id="count-{{ track.track }}">
                                00</span>
                            </div>
                    </td>
                    <td>{{ track.time }}</td>
                </tr>
            {% endfor %}
             {% for track in tracks %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ track.track }}</td>
                    <td>{{ track.swimmer }}</td>
                    <td>{{ track.start_time|date:"d-m-Y H:i:s" }}</td>
                    <td>{{ track.stop_time|date:"d-m-Y H:i:s" }}</td>
                    <td>{{ track.status }}</td>
                    <td>{{ track.time }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script src={% static 'timer.js' %}></script>
</body>
</html>
